---
const { tableOfContents, originalStudyLink, headlineStats} = Astro.props;

let original_study_button_label = "Original submission";

if (originalStudyLink?.startsWith("https://www.ebi.ac.uk/empiar/")) {
  original_study_button_label = "View in EMPIAR";
} else if (originalStudyLink?.startsWith("https://www.ebi.ac.uk/bioimage-archive/")) {
  original_study_button_label = "View in BioImage Archive";
} else if (originalStudyLink?.startsWith("https://www.ebi.ac.uk/biostudies/BioImages/studies/EMPIAR")) {
  original_study_button_label = "View in EMPIAR";
} else if (originalStudyLink?.startsWith("https://www.ebi.ac.uk/biostudies/BioImages/studies/S-")) {
  original_study_button_label = "View in BioImage Archive";
} 
---
<section class="vf-content | embl-grid embl-grid--has-centered-content">
  <div>
    <div>
      <h2 class="vf-section-header__heading">On this page</h2>
      <ul class="vf-list">
        {
          Object.entries(tableOfContents).map(([text_title, id]) => (
            <li class="vf-list__item">
              <a class="vf-list__link" href={"#" + id}>
                {text_title}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>

  <slot name="hero-image"/>

  <div>
    <a href={originalStudyLink}>
      <button class="vf-button vf-button--primary vf-button--sm"
        >{original_study_button_label}</button
      >
    </a>
    <slot name="ftp-link" />
  </div>
</section>
{
    headlineStats && (
        <section class="vf-content">
            <div class="vf-grid | vf-grid__col-3 ">
                {Object.entries(headlineStats).map(([key, value]) => (
                    <div style="text-align: center;">
                        {key}
                        <br />
                        {value}
                    </div>
                ))}
            </div>
        </section>
    )
}
