---
import study_metadata from "../../data/bia-study-metadata.json"
import model_metadata from "../../data/ai-dataset-benchmarking/model-metadata.json"

const { table_rows, study_or_model } = Astro.props;

export function get_dataset_uuid_name_map(table_rows) {
    var study_ids: Set<string> = new Set()
    for (var row of table_rows) {
        study_ids.add(row.study)
    }
    const dataset_uuid_name_map = new Map();
    for (var acc_id of study_ids) {
        for (var dataset of study_metadata[acc_id].dataset) {
            dataset_uuid_name_map.set(dataset.uuid, dataset.title_id)
        }
    }
    return dataset_uuid_name_map
}

const dataset_uuid_name_map = get_dataset_uuid_name_map(table_rows)

export function format_param(acc, keyvalue) {
    return acc + keyvalue[0] + ": " + keyvalue[1]  + "<br/>" 
}


export function format_analysis_param(analysis_params) {

    return Object.entries(analysis_params).reduce(format_param, "")
}

---

<section class="vf-intro | embl-grid | embl-grid--has-centered-content | section-spacing">

    <div class="vf-section-header">
      <h2 class="vf-section-header__heading" id="benchmarking">
        Benchmarking
      </h2>
    </div>

    <div>
        <table id="benchmarking_table" class="display">
            <thead class="vf-table__header">
                <tr class="vf-table__header">
                    {
                        study_or_model == 'model' && (
                            <th class="vf-table__heading" >Study</th>
                        )
                    }
                    <th class="vf-table__heading" >Dataset</th>
                    {
                        study_or_model == 'study' && (
                            <th class="vf-table__heading" >Model</th>
                            <th class="vf-table__heading" >Task</th>
                        )
                    }
                    <th class="vf-table__heading" >Precision</th>
                    <th class="vf-table__heading" >Recall</th>
                    <th class="vf-table__heading" >IoU</th>
                    <th class="vf-table__heading" >Dice</th>
                    <th class="vf-table__heading" >Analysis parameters</th>
                </tr>
            </thead>
            <tbody class="vf_table__body">
            {
                table_rows.map((row) => (
                <tr>
                    {
                        study_or_model == 'model' && (
                       
                            <th> <a href={"/bioimage-archive/galleries/ai/analysed-dataset/" + row.study}>{row.study}</a> </th>

                        )
                    }
                    <th>{dataset_uuid_name_map.get(row.dataset_uuid)}</th>
                    {
                        study_or_model == 'study' && (
                            <th> <a href={"/bioimage-archive/galleries/ai/model/" + row.model}>{row.model}</a></th>
                            <th>{model_metadata[row.model].task}</th>
                        )
                    }
                    <th>{row.precision}</th>
                    <th>{row.recall}</th>
                    <th>{row.IoU}</th>
                    <th>{row.dice}</th>
                    <th> <Fragment set:html={format_analysis_param(row.analysis_parameters)}/></th>
                </tr>
                ))
            }
            </tbody>
        </table>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
          $("#benchmarking_table").DataTable({
            scrollX: true,
            columnDefs: [{ type: "natural", targets: 0 }],
          });
        });
    </script>
</section>