---
import { formatListItem, taxonRender, multilineTextRender } from "../SharedJSFunctions";
import study_metadata from "../../data/bia-study-metadata.json"

const { dataset, dataset_ai_info, study_acc_id } = Astro.props;


function getTaxons(dataset) {
    var taxons
    if (!dataset.biological_entity || !Array.isArray(dataset.biological_entity)) {
        taxons = [];
    }

    taxons = dataset.biological_entity
        .flatMap(entity => entity.organism_classification || [])
        .filter(item => typeof item === "object"); 

    var taxon_html_list = new Array()
    for (var taxon of taxons) {
        taxon_html_list.push(taxonRender(taxon))
    }

    return taxon_html_list
};

function getBiologicalEntity(dataset) {
    var bio_entities
    if (!dataset.biological_entity || !Array.isArray(dataset.biological_entity)) {
        bio_entities = [];
    }

    bio_entities = dataset.biological_entity
        .flatMap(entity => entity.biological_entity_description || []); 

    return bio_entities.reduce(formatListItem, "")
};


function getImagingType(dataset) {
    var imaging_type_list = new Array()
    for (var ia of dataset.acquisition_process) {
        for (var method_names of ia.imaging_method_name) {
            if (!imaging_type_list.includes(method_names)) {
                imaging_type_list.push(method_names)
            }
        }
    }
    return imaging_type_list
}

function display_img_type(dataset) {
    const image_type_list = getImagingType(dataset)
    const img_type_display = image_type_list.reduce(formatListItem, "")
    if (img_type_display.length > 50 * image_type_list.length) {
        // Avoid displaying full method text on dataset cards.
        return 'See details of study'
    } else {
        return img_type_display
    }
}

function renderTaxonList(taxon_list) {
    return taxon_list.reduce(formatListItem, "");
}

const taxons = getTaxons(dataset)


function getAnnotationMethodInformation() {
    if (Object.keys(dataset_ai_info).includes("annotation_study")) {
        const annotation_dataset = study_metadata[dataset_ai_info.annotation_study].dataset.filter(dataset => dataset.uuid == dataset_ai_info.annotation_dataset)[0]
        return annotation_dataset.annotation_method[0].protocol_description
    } else if (Object.keys(dataset_ai_info).includes("annotation_dataset")) {
        const annotation_dataset = study_metadata[study_acc_id].dataset.filter(dataset => dataset.uuid == dataset_ai_info.annotation_dataset)[0]
        return annotation_dataset.annotation_process[0].protocol_description
    } else if (Object.keys(dataset_ai_info).includes("annotation_method_override")) {

        return dataset_ai_info.annotation_method_override
    } else {
        return null
    }
}
const annotation_info = getAnnotationMethodInformation()
---

<div style="margin-bottom: 1rem;">
    <div>
        <b style="font-size: 14pt;">{dataset.title_id}</b>
    </div>
    <ul>
        {
            taxons && taxons.length > 0 && 
                (
                    <div>
                        <b>Organism:</b> <Fragment set:html={renderTaxonList(taxons)}/>
                    </div>
                )
        }
        {
            taxons && taxons.length > 0 && 
                (
                    <div>
                    <b>Biological Entity:</b> {getBiologicalEntity(dataset)}
                    </div>
                )
        }
        {
            taxons && taxons.length > 0 && 
                (
                    <div>
                    <b>Imaging Method:</b> {display_img_type(dataset)}
                    </div>
                )
        }
        {
            annotation_info && (
                    <div>
                    <b>Annotation Method:</b> {multilineTextRender(annotation_info)}
                    </div>
            )
        }
    </ul>
</div>
