---
import modelMetadata from "../../data/ai-dataset-benchmarking/model-metadata.json"

import { formatRowAnalysisParameters , getDatasetUUIDNameMap} from "./BenchmarkingTable.astro" 
const { tableRows, studyOrModelPageMode } = Astro.props;


const datasetUUIDNameMap = getDatasetUUIDNameMap(tableRows)

---

<section class="vf-intro | embl-grid | embl-grid--has-centered-content | section-spacing">

    <div class="vf-section-header">
      <h2 class="vf-section-header__heading" id="predictions">
        Model predictions
      </h2>
    </div>

    <div>
        <table id="model_prediction_table" class="display">
            <thead class="vf-table__header">
                <tr class="vf-table__header">
                    {
                        studyOrModelPageMode == 'model' && (
                            <th class="vf-table__heading" >Study</th>
                        )
                    }
                    <th class="vf-table__heading" >Dataset</th>
                    {
                        studyOrModelPageMode == 'study' && (
                            <th class="vf-table__heading" >Model</th>
                            <th class="vf-table__heading" >Task</th>

                        )
                    }
                    <th class="vf-table__heading" >Original image</th>
                    <th class="vf-table__heading" >Reference annotation</th>
                    <th class="vf-table__heading" >Prediction</th>
                    <th class="vf-table__heading" >Analysis parameters</th>
                </tr>
            </thead>
            <tbody class="vf_table__body">
            {
                tableRows.map((row) => (
                <tr>
                    {
                        studyOrModelPageMode == 'model' && (
                            <th> <a href={`/bioimage-archive/galleries/ai/analysed-dataset/${row.study}`}>{row.study}</a></th>
                        )
                    }
                    <th>{datasetUUIDNameMap.get(row.dataset_uuid)}</th>
                    {
                        studyOrModelPageMode == 'study' && (
                            <th> <a href={`/bioimage-archive/galleries/ai/model/${row.model}`}>{row.model}</a></th>
                            <th> {modelMetadata[row.model]?.task}</th>

                        )
                    }
                    <th>{
                        row.example_image && (
                            <a href={row.example_image} target="_blank" rel="noopener noreferrer">
                                <img src={row.example_image} style="max-width: 180px;"/>
                            </a>
                            <a href={row.example_image} download>
                                    Download
                            </a>
                        )
                    }</th>
                    <th>{
                        row.example_ground_truth && (
                            <a href={row.example_ground_truth} target="_blank" rel="noopener noreferrer">
                                <img src={row.example_ground_truth} style="max-width: 180px;"/>
                            </a>
                            <a href={row.example_ground_truth} download>
                                Download 
                            </a>
                        )
                    }</th>
                    <th>{
                        row.example_process_image && (
                            <a href={row.example_process_image} target="_blank" rel="noopener noreferrer">
                                <img src={row.example_process_image} style="max-width: 180px;"/>
                            </a>
                            <a href={row.example_process_image} download>
                                Download 
                            </a> 
                        )
                    }</th>
                    <th> <Fragment set:html={formatRowAnalysisParameters(row.analysis_parameters)}/></th>
                </tr>
                ))
            }
            </tbody>
        </table>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
          $("#model_prediction_table").DataTable({
            scrollX: true,
            columnDefs: [{ type: "natural", targets: 0 }],
          });
        });
    </script>
</section>