---
const { imageRep, imageAtrributes} = Astro.props;

function getMicronSize(rep) {
  if (!rep?.voxel_physical_size_x || !rep?.voxel_physical_size_y) return ["0", "0"];
  return [
    (1e6 * rep.voxel_physical_size_x ** 2).toPrecision(2),
    (1e6 * rep.voxel_physical_size_y ** 2).toPrecision(2),
  ];
}

const [tissue_x, tissue_y] = getMicronSize(imageRep);
---
<h3>Image metadata</h3>
    <b>Image size: </b> <span>{tissue_x}μm x {tissue_y}μm</span><br>
    <span>{imageRep?.size_x} x {imageRep?.size_y} pixels</span><br />
    <span>{imageRep?.size_c} channels</span><br />
    <span>{imageRep?.size_t} timesteps</span>
    <br /> <br />
    <div>
    {
      imageAtrributes && Object.keys(imageAtrributes).length === 0 ? <span></span> : (
        <>
          <h3>Additional metadata</h3>
          {Object.entries(imageAtrributes).map(([key, value]) => (
            <>
            <b>{key}:</b> {value}<br />
        </>
        ))}
        </>
      )
    }
    </div>
