---
import { getTaxons, formatListItem, getStudyImage, getImagingMethodType, applyHighlight, highlightLinks } from "../SharedJSFunctions.js";
import  HighlightedText  from "../HighlightedText.astro";
import "../../styles/dataset_card.css"
const { study, studyPageRoot, taglist, annotationType, cardImageOverride, highlight, query} = Astro.props;

export function getImagingType(study) {
    const imageTypeList = getImagingMethodType(study)
    const imgTypeDisplay = imageTypeList.reduce(formatListItem, "")
    if (imgTypeDisplay.length > 50 * imageTypeList.length) {
        // Avoid displaying full method text on dataset cards.
        return 'See details of study'
    } else {
        return imgTypeDisplay
    }
}

export function getAnnotationMethod(study){
    const annotationMethods = new Set();
    for (var dataset of study.dataset) {
        for (var ap of dataset.annotation_process) {
            for (var methodNames of ap.method_type) {
                annotationMethods.add(methodNames.replace(/_/g, " "))
            }
        }
    }
    return [...annotationMethods]

}

export function renderTaxonList(dataset) {
    const taxonList = getTaxons(dataset)
    return taxonList.reduce(formatListItem, "")
}

function getDataForCardFilter(study) {
    const datasetWithImage = study.dataset.find((dataset) => dataset.image?.length > 0)
    var hasImage = datasetWithImage !== undefined
    const dataString = `${study.accession_id}; ${study.release_date}; ${study.title}; ${renderTaxonList(study)}; ${getImagingType(study)}; has_img: ${hasImage}`
    return dataString
}

export function highlightImagingMethod(text, highlight, query){
    const highlightedImagingMethod = [...new Set(highlight)];
    const highlightedText = highlightedImagingMethod.map(highlight => applyHighlight(text, highlight, query))
    return highlightedImagingMethod.length > 0? highlightedText: text;

}

export function highlightOrganism(text, highlight, query){
    const highlightOrganism = highlight?.['dataset.biological_entity.organism_classification.common_name']?.[0] || highlight?.['dataset.biological_entity.organism_classification.scientific_name']?.[0];
    return query && text? applyHighlight(text, highlightOrganism, query): text;

}

const studyCardImage = getStudyImage(study, cardImageOverride);
const isFallback = String(studyCardImage).includes("placeholder");
const fallbackMessage = isFallback ? "We cannot display images for this study yet." : "";
const imagingMethod = highlightImagingMethod(getImagingType(study), highlight?.["dataset.acquisition_process.imaging_method_name"], query);
const organism = highlightOrganism(renderTaxonList(study), highlight, query);
const annotationMethod = annotationType? annotationType: getAnnotationMethod(study);
const highlightedAnnotationMethod = highlightImagingMethod(annotationMethod.join(", "), highlight?.["dataset.annotation_process.method_type"], query)

const base = `/bioimage-archive/${studyPageRoot}/${study.accession_id}`;
const highlightedStudyLink = highlightLinks(base, highlight, query);
---
<article class="vf-card vf-card--brand vf-card--bordered custom-card" data-message={getDataForCardFilter(study)}>
    <div class="image-container">
        <img src={  studyCardImage} alt={fallbackMessage} title={fallbackMessage} class="vf-card__image" loading="lazy" style="aspect-ratio: 1/1;">
        {isFallback && (
                <div class="image-overlay" role="note" aria-label={fallbackMessage}>
                    <span>{fallbackMessage}</span>
                </div>
            )}
    </div>
    <div class="vf-card__content | vf-stack vf-stack--400">
        <h3 class="vf-card__heading">
            <a class="vf-card__link" href={highlight? highlightedStudyLink : base} >
                { study.accession_id }
                <svg aria-hidden="true" class="vf-card__heading__icon | vf-icon vf-icon-arrow--inline-end" width="1em" height="1em" xmlns="http://www.w3.org/2000/svg"><path d="M0 12c0 6.627 5.373 12 12 12s12-5.373 12-12S18.627 0 12 0C5.376.008.008 5.376 0 12zm13.707-5.209l4.5 4.5a1 1 0 010 1.414l-4.5 4.5a1 1 0 01-1.414-1.414l2.366-2.367a.25.25 0 00-.177-.424H6a1 1 0 010-2h8.482a.25.25 0 00.177-.427l-2.366-2.368a1 1 0 011.414-1.414z" fill="currentColor" fill-rule="nonzero"></path></svg>
            </a>
        </h3>
        <p class="vf-card__text">
        <HighlightedText text={highlight?.title?.[0] ?? study.title} /> <br />
        <b>Release date: </b>{ study.release_date }<br>
        {imagingMethod && (<><b>Imaging method: </b><HighlightedText text={imagingMethod} /><br /></>)}
        {organism && (<><b>Organism: </b><HighlightedText text={organism} /> </>)}
        </p>

        {taglist && taglist.length > 0 && (
            <p class="vf-card__text">
                <b>Tags:</b> {taglist.reduce(formatListItem, "")}
            </p>
        )}

        {annotationMethod && annotationMethod.length > 0 && (
            <p class="vf-card__text">
                <b>Annotation Method:</b><HighlightedText text={highlightedAnnotationMethod || "No information available"} />
            </p>
        )}
    </div>
</article>
<style>
    .image-overlay {
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.45);
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 12px;
        opacity: 1;
        pointer-events: none;
        z-index: 999;
    }

    .image-container {
        width: 100%;
        overflow: hidden;
        position: relative;
    }

</style>