---
import { get_placeholder_hero_image, format_list_item, taxon_render } from "../SharedJSFunctions.js";
const { dataset, dataset_path, taglist, card_img_override} = Astro.props;

function get_study_image(study_info, card_img_override) {
  const dataset_with_img = study_info.dataset.find((dataset) => dataset.example_image_uri.length > 0)
  if (card_img_override != null) {
    return card_img_override
  } else if (dataset_with_img == undefined) {
    return get_placeholder_hero_image(dataset.accession_id)
  } else {
    return dataset_with_img.example_image_uri[0]
  }
}

function get_imaging_type(study_info) {
    var imaging_type_list = new Array()
    for (var dataset of study_info.dataset) {
        for (var ia of dataset.acquisition_process) {
            for (var method_names of ia.imaging_method_name) {
                if (!imaging_type_list.includes(method_names)) {
                    imaging_type_list.push(method_names)
                }
            }
        }
    }
    return imaging_type_list
}


function get_taxons(study_info) {
    var taxon_html_list = new Array()
    var taxon_list = new Array()
    for (var dataset of study_info.dataset) {
        for (var biosample of dataset.biological_entity) {
            for (var taxon of biosample.organism_classification) {
                if (!taxon_list.some(txn_final => txn_final.common_name === taxon.common_name || txn_final.scientific_name === taxon.scientific_name )) {
                    taxon_list.push(taxon)
                    taxon_html_list.push(taxon_render(taxon))
                }
            }
        }
    }
    return taxon_html_list
}


function display_img_type(dataset) {
    const image_type_list = get_imaging_type(dataset)
    const img_type_display = image_type_list.reduce(format_list_item, "")
    if (img_type_display.length > 50 * image_type_list.length) {
        // Avoid displaying full method text on dataset cards.
        return 'See details of study'
    } else {
        return img_type_display
    }
}

function display_taxon(dataset) {
    const taxon_list = get_taxons(dataset)
    return taxon_list.reduce(format_list_item, "")
}

function filter_data(study_info) {
    const dataset_with_img = study_info.dataset.find((dataset) => dataset.image?.length > 0)
    var has_image
    if (dataset_with_img == undefined) {
        has_image = false
    } else {
        has_image = true
    }
    const data_string = `${study_info.accession_id}; ${study_info.release_date}; ${study_info.title}; ${display_taxon(study_info)}; ${display_img_type(study_info)}; has_img: ${has_image}`
    return data_string
}
---
<article class="vf-card vf-card--brand vf-card--bordered" data-message={filter_data(dataset)} style="max-width:400px">
    <img src={ get_study_image(dataset, card_img_override) } alt="" class="vf-card__image" loading="lazy" style="aspect-ratio: 1/1;">
    <div class="vf-card__content | vf-stack vf-stack--400">
        <h3 class="vf-card__heading">
            <a class="vf-card__link" href={ "/bioimage-archive/"+ dataset_path + "/" + dataset.accession_id } >
                { dataset.accession_id }
                <svg aria-hidden="true" class="vf-card__heading__icon | vf-icon vf-icon-arrow--inline-end" width="1em" height="1em" xmlns="http://www.w3.org/2000/svg"><path d="M0 12c0 6.627 5.373 12 12 12s12-5.373 12-12S18.627 0 12 0C5.376.008.008 5.376 0 12zm13.707-5.209l4.5 4.5a1 1 0 010 1.414l-4.5 4.5a1 1 0 01-1.414-1.414l2.366-2.367a.25.25 0 00-.177-.424H6a1 1 0 010-2h8.482a.25.25 0 00.177-.427l-2.366-2.368a1 1 0 011.414-1.414z" fill="currentColor" fill-rule="nonzero"></path></svg>
            </a>
        </h3>
        <p class="vf-card__text">
        { dataset.title }<br><br>
        <b>Release date: </b>{ dataset.release_date }<br>
        <b>Imaging method: </b>{display_img_type(dataset)}<br>
        <b>Organism: </b><Fragment set:html={display_taxon(dataset)}></Fragment>
        </p>

        {taglist && taglist.length > 0 && (
            <>
            <p class="vf-card__text">
                <b>Tags:</b> {taglist.reduce(format_list_item, "")}
            </p>
            </>
        )}
    </div>
</article>