---
import MinimalLayout from "../layouts/MinimalLayout.astro";

import browseImage from "../assets/bioimage-archive/browse_embl_green.png";
import submitImage from "../assets/bioimage-archive/submit_embl_green.png";
import galleriesImage from "../assets/bioimage-archive/galleries_embl_green.png";
import helpImage from "../assets/bioimage-archive/help_embl_green.png";
import policiesImage from "../assets/bioimage-archive/policies_embl_green.png";
import aboutImage from "../assets/bioimage-archive/aboutus_embl_green.png";

import onlineTutorialImage from "../assets/bioimage-archive/online_tutorial_image.png";
import getInTouchImage from "../assets/bioimage-archive/get_in_touch.png";
import emailImage from "../assets/bioimage-archive/email_embl_green.png";
import githubImage from "../assets/bioimage-archive/github_embl_green.png";
import xtwitterImage from "../assets/bioimage-archive/x_twitter_embl_green.png";
import youtubeImage from "../assets/bioimage-archive/youtube.png";

import newsExampleImage from "../assets/bioimage-archive/news_example.png";

import ukriImage from "../assets/bioimage-archive/uk_ri_logo.jpg";
import emblImage from "../assets/bioimage-archive/EMBL_logo_colour_wordmark.png";
import euImage from "../assets/bioimage-archive/EU_logo.jpg";

import SearchBar from "../components/SearchBar.astro";

const cards = [
  {
    label: "Browse",
    description: "Explore and search for datasets",
    img: browseImage.src,
    target: "/bioimage-archive/studies",
  },
  {
    label: "Submit",
    description: "Submit your data to the BIA",
    img: submitImage.src,
    target: "/bioimage-archive/submit",
  },
  {
    label: "Galleries",
    description: "Browse collections of curated datasets",
    img: galleriesImage.src,
    target: "/bioimage-archive/galleries",
  },
  {
    label: "Help",
    description: "Find answers to your questions",
    img: helpImage.src,
    target: "/bioimage-archive/help",
  },
  {
    label: "Policies",
    description: "Learn about what you can expect from us",
    img: policiesImage.src,
    target: "/bioimage-archive/policies",
  },
  {
    label: "About us",
    description: "Discover our mission and developments",
    img: aboutImage.src,
    target: "/bioimage-archive/about-us",
  },
];

import multiImageStrip from "../assets/bioimage-archive/multi_image_strip.png";
import MenuCard from "../components/cards/LandingPageMenuCard.astro";
---
<MinimalLayout pageTitle="The BioImage Archive">

  <section
  class="vf-hero vf-hero--800 vf-hero--search | vf-u-fullbleed"
  style="--vf-hero--bg-image: url(https://uk1s3.embassy.ebi.ac.uk/bia-integrator-data/assets/banner.png);"
  >
    <div
      class="vf-hero__content | vf-box | vf-stack vf-stack--400"
      style="opacity: 0.9;"
    >
      <section style="display: flex; gap: 10px;">
        <div>
          <img
            src="https://uk1s3.embassy.ebi.ac.uk/bia-integrator-data/pages/assets/BIA-Logo.png"
            style="width: 110px;"
          />
        </div>
        <div>
          <h2 class="vf-hero__heading">BioImage Archive</h2>
          <p class="vf-hero__subheading">
            A free, publicly available resource for life sciences images from
            any imaging modality, at any scale
          </p>
        </div>
      </section>
      <div>
        <SearchBar />
        <p class="vf-text-body--5">
          Example searches:
          <a href="/bioimage-archive/search?query=Brain" class="vf-link">Brain</a>,
          <a href="/bioimage-archive/search?query=Capsid" class="vf-link">Capsid</a>,
          <a href="/bioimage-archive/search?query=Organelle" class="vf-link">Organelle</a> <!--  | 
          <a href="/bioimage-archive/search" class="vf-link">Advanced search</a> -->
        </p>
      </div>
  </section>

  <section class="vf-u-fullbleed" style="background-color: #3b6fb6; margin: 0px">
    <div
        class="vf-content"
        style="margin: 0px 10%; padding: 24px 0px;"
      >
      <h3 style=" color: #ffffff; margin: 0px;">
        Welcome to the Alpha version of the BIA website.  <a href="/bioimage-archive/help/about-the-new-website" style="color: #ffffff"> Click here to learn more about the alpha.</a> 
      </h3>
    </div>
  </section>

  <section
    class="vf-grid vf-grid__col-3 | vf-card-container | vf-u-fullbleed"
    style="margin-left: 10%; margin-right: 10%;"
  >
    {
      cards.map((card) => (
        <MenuCard
          label={card.label}
          description={card.description}
          icon={card.img}
          target={card.target}
        />
      ))
    }
  </section>

  <!-- Image strip -->
  <section
  class="vf-grid"
  style="margin-left: 10%; margin-right: 10%; margin-bottom: 20px;"
  >
    <figure class="vf-figure">
      <img
        class="vf-figure__image"
        src={multiImageStrip.src}
        alt="Biological images from different modalities."
        loading="lazy"
      />
    </figure>
  </section>

  <!-- News -->
  <section
  class="vf-stack"
  style="background-color: rgb(226, 237, 239); padding: 16px 10%;"
  >
    <h2>News</h2>
    <section class="vf-grid vf-grid__col-2">
      <div>
        <h3>BioImage Archive democratises access to microscopy data</h3>
        EMBL-EBI’s BioImage Archive makes it easier to access and analyse biological
        research data...

        <a
          href="https://www.ebi.ac.uk/about/news/updates-from-data-resources/bioimage-archive-galleries/"
          class="vf-card__link"
        >
          Read more
        </a>
      </div>
      <div>
        <a href="galleries" class="logo-img">
          <img
            class="vf-figure__image"
            src={newsExampleImage.src}
            alt="Example news image."
            loading="lazy"
          />
        </a>
      </div>
    </section>
    <section class="embl-grid embl-grid--has-centered-content">
      <div></div>
      <div>
        <a
          href="https://listserver.ebi.ac.uk/mailman/listinfo/bioimage-archive-announce"
          class="logo-img"
        >
          <button
            class="vf-button vf-button--primary"
            style="border-radius: 10px;">Subscribe to our mailing list</button
          >
        </a>
      </div>
    </section>
  </section>

  <!-- Tutorial and get in touch -->
  <section
  class="vf-grid vf-grid__col-2"
  style="margin-left: 10%; margin-right: 10%;"
  >
    <div>
      <h2>Learn more</h2>
      <a
        href="https://www.ebi.ac.uk/training/online/courses/bioimage-archive-quick-tour/"
        class="logo-img"
      >
        <img
          class="vf-figure__image"
          src={onlineTutorialImage.src}
          alt="Online tutorial"
        />
      </a>
    </div>
    <div>
      <h2>Stay in touch</h2>
      <section
        class="vf-grid | vf-grid__col-3"
        style="margin-left: 0%; margin-right: 60%;"
      >
        <div class="column column-block">
          <a href="mailto:bioimage-archive@ebi.ac.uk" class="logo-img">
            <img
              class="vf-figure__image"
              src={emailImage.src}
              alt="Email us"
            /></a
          >
        </div>
        <div class="column column-block">
          <a href="https://github.com/BioImage-Archive" class="logo-img">
            <img
              class="vf-figure__image"
              src={githubImage.src}
              alt="BIA github repo"
            /></a
          >
        </div>
        <div class="column column-block">
          <a href="https://x.com/BioimageA" class="logo-img">
            <img
              class="vf-figure__image"
              src={xtwitterImage.src}
              alt="BIA Twitter"
            /></a
          >
        </div>
      </section>
    </div>
  </section>

  <!-- Funding -->
  <section style="margin: 16px 10%;">
    <h2 class="padding-top-large" id="funders">Funders</h2>
    <p>
      Ongoing development is enabled by capital investment from the UKRI
      Strategic Priorities Fund and operational costs supported by EMBL member
      state funding.
    </p>
  </section>

  <style>
  .logo-img {
    border-width: 0px;
  }
  </style>

  <section class="vf-content;" style="margin-left: 10%; margin-right: 10%;">
    <div style="display: flex; justify-content: space-between; flex-wrap: wrap;">
      <span class="column column-block">
        <a href="https://www.ukri.org/" class="logo-img">
          <img
            class="padding-bottom-large"
            src={ukriImage.src}
            alt="UKRI logo"
            style="height: 68px;"
          />
        </a>
      </span>
      <span class="column column-block">
        <a href="http://www.ebi.ac.uk" class="logo-img">
          <img
            class="padding-bottom-large"
            src={emblImage.src}
            alt="EMBL logo"
            style="height: 68px;"
          />
        </a>
      </span>
      <span class="column column-block">
        <a href="http://www.ebi.ac.uk" class="logo-img">
          <img
            class="padding-bottom-large"
            src={euImage.src}
            alt="EU logo"
            style="height: 68px;"
          />
        </a>
      </span>
    </div>
  </section>
</MinimalLayout>