---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import StudyTitleInfo from "../../../components/study-page/StudyTitleInfo.astro";
import StudyContentsSummary from "../../../components/study-page/StudyContentsSummary.astro";

import CollectionList from "../../../data/collections/ai-benchmark-datasets.json"
import StudyMetadata from "../../../data/bia-study-metadata.json"
import {multiline_text_render} from "../../../components/DatasetDetail.astro"
import DatasetInfo from "../../../components/ai-playground/DatasetInfo.astro"

export function getStaticPaths() {
  return Object.values(CollectionList["accession_ids"]).map((id) => {
    return {
      params: { accession_id: id },
    };
  });
}

function format_comma_separate_list(item, i, item_list) {
    if (i + 1 === item_list.length) {
        return item;
    } else {
        return item + ", ";
    }
}

const table_of_contents = {
  "Study Information": "study",
};

const { accession_id } = Astro.params;

const study_info = StudyMetadata[accession_id]

const example_img_uri = "https://uk1s3.embassy.ebi.ac.uk/bia-integrator-data/S-BIAD1388/2563e244-377d-4d80-b833-868a59dfb903/8a3e9dfb-9406-48df-90e9-2d0872050352.png";
const example_annotation_uri = "https://uk1s3.embassy.ebi.ac.uk/bia-integrator-data/S-BIAD1388/2563e244-377d-4d80-b833-868a59dfb903/8a3e9dfb-9406-48df-90e9-2d0872050352.png";


function get_file_types(study_info) {
    var file_type_list = new Array()
    for (var eic of study_info.dataset) {
        for (const file_type of eic.file_type_aggregation) {
            if (!file_type_list.includes(file_type)) {
              file_type_list.push(file_type)
            }
        }
    }
    return file_type_list
}

---

<BaseLayout pageTitle={accession_id}>
  <body>
    <StudyTitleInfo study_info={study_info} />

    <StudyContentsSummary 
      table_of_contents={table_of_contents} 
      original_study_link={"https://www.ebi.ac.uk/biostudies/BioImages/studies/"+study_info.accession_id} 
    >
    <div slot="hero-image" style="display: flex; justify-content: space-evenly; flex-wrap: wrap;">
      <figure class="vf-figure" style="max-width:300px">
        <img
          class="vf-figure__image"
          src={example_img_uri}
          alt="Example image for this dataset"
        />
        <figcaption class="vf-figure__caption">
          Example image for this dataset
        </figcaption>
      </figure>

      <figure class="vf-figure" style="max-width:300px">
        <img
          class="vf-figure__image"
          src={example_annotation_uri}
          alt="Example annotation for this dataset"
        />
        <figcaption class="vf-figure__caption">
          Example annotation for this dataset
        </figcaption>
      </figure>
    </div>
  </StudyContentsSummary>

    <hr/>

  <section id="study" class="vf-content | embl-grid embl-grid--has-centered-content">
    <div>
      <h2 class="vf-section-header__heading">Study Information</h2>
    </div>

    <div style="overflow-wrap: anywhere;">
      <div><b>Description: </b> <Fragment set:html={multiline_text_render(study_info.description)}></Fragment></div>
      <div><b>Licence: </b> {study_info.licence}<div>
    </div>
  </section>

  <hr/>

  <section id="study_components" class="vf-content | embl-grid embl-grid--has-centered-content">
    <div>
      <h2 class="vf-section-header__heading">Study Components</h2>
    </div>
    <div>
      {
        study_info.dataset.map((dataset) => (
          <DatasetInfo dataset={dataset} />
        ))
      }
    </div>
  </section>

  <hr/>


  <script>
    document.addEventListener("DOMContentLoaded", function () {
      $("#viewable_images").DataTable({
        scrollX: true,
        columnDefs: [{ type: "natural", targets: 0 }],
      });
      $("#viewable_annotations").DataTable({
        scrollX: true,
        columnDefs: [{ type: "natural", targets: 0 }],
      });
    });
  </script>
</BaseLayout>


