---
import BaseLayoutWithBreadcrumbs from "../../../../layouts/BaseLayoutWithBreadcrumbs.astro";
import StudyTitleInfo from "../../../../components/study-page/StudyTitleInfo.astro";
import { getTaxons, getSimpleAttributeValue, getDatasetStatsByUUID, formatBytesToHumanSize, getAnnotationType, getStudyFromApiByAccession, generateSourceAnnotatedImageMap } from "../../../../components/SharedJSFunctions"
import AnnotatedImageTable from "../../../../components/AnnotatedImageTable.astro"
import { type Study } from "../../../../components/SharedInterface.astro"
import collection from '../../../../data/collections/ai-ready-datasets.json';
import StudyContentsSummary from "../../../../components/study-page/StudyContentsSummary.astro"
import StudyFiles from "../../../../components/StudyFiles.astro";
import StudyComponents from "../../../../components/ai-gallery/StudyComponents.astro";
import "../../../../styles/image_slider.css"

export function getStaticPaths() {
  return Object.values(collection.accession_ids).map(accession => ({params: { accessionID: accession }}));
}

const { accessionID } = Astro.params;

const study = await getStudyFromApiByAccession(accessionID) as Study;
const datasetUUIDsAndFileStats = getDatasetStatsByUUID(study)
const annotatedImagesMap = await generateSourceAnnotatedImageMap(study);
const organism = getTaxons(study).join(", ");
// Need a better logic to identify source dataset and annotation dataset
const sourceDataset = study.dataset.filter(ds => ds.acquisition_process.length > 0 && ds.annotation_process.length == 0);
const allSourceImages = sourceDataset.flatMap(ds => ds.image || []);
const imaging_method = Array.from(
  new Set(sourceDataset.flatMap(ds => ds?.acquisition_process?.[0]?.imaging_method_name || []))
).join(', ');
const sourceExampleImageURI = sourceDataset.flatMap(ds => ds?.example_image_uri || []).filter(Boolean)[0];
// Need a better logic to identify source dataset and annotation dataset
const annotationDatasets = study.dataset.filter(ds => ds.acquisition_process.length == 0 && ds.annotation_process.length > 0);
const annotationExampleImageURI = annotationDatasets.find(ad => ad.example_image_uri.length > 0)?.example_image_uri[0];

const headlineStats = {
  "Total Viewable Images":  study.dataset.reduce((accumulator, dataset) => accumulator + dataset.image_count, 0),
  "Total files": study.dataset.reduce((accumulator, dataset) => accumulator + dataset.file_reference_count, 0),
  "Total size of files": formatBytesToHumanSize(study.dataset.reduce((accumulator, dataset) => accumulator + dataset.file_reference_size_bytes, 0)),
};
const studyContent = {
  "Study summary": getSimpleAttributeValue(study, "one_summary") || study.description,
  "License": "CC0",
  "Tags": getSimpleAttributeValue(study, "ai_tags")?.[0].join(", ") || study.keyword.join(", ")
}
const modelInformation = getSimpleAttributeValue(study, "associated_ai_models")?.[0] || undefined;
const modelContent = {
  "Model description": modelInformation?.description,
  "Model link": modelInformation?.link
}
const annotatedDatasetContent = annotationDatasets.map((dataset, index) => ({
  dataset_title: dataset.title,
  organism: organism,
  imaging: imaging_method,
  annotation_type: getAnnotationType([dataset]).join(", ") || "No information available",
  annotation_method: dataset.annotation_process[0]?.protocol_description || dataset.annotation_process[0]?.annotation_criteria || "No information available"
}))
const tableOfContents = {
  "Curated Study Information": "study",
  ...(modelInformation && { "Models Related To This Work": "models" }),
  "Annotated Datasets": "annotated_datasets",
  "Viewable Annotated Images": "all_images",
};
const breadcrumbs = [
  "/bioimage-archive",
  "/bioimage-archive/galleries",
  "/bioimage-archive/galleries/ai",
  "/bioimage-archive/galleries/ai/ai-ready-studies",
]

---
<BaseLayoutWithBreadcrumbs pageTitle={study.accession_id} breadcrumbs={breadcrumbs}>
  <StudyTitleInfo study_info={study} />  
  <StudyContentsSummary tableOfContents={tableOfContents} 
    originalStudyLink={"https://www.ebi.ac.uk/biostudies/BioImages/studies/" + study.accession_id}
    headlineStats={headlineStats}>
      <div style="display: flex; justify-content: space-evenly; flex-wrap: wrap;" slot="hero-image">
          <figure class="vf-figure"  style="width: 48%">
            <img
              class="vf-figure__image"
              src={sourceExampleImageURI}
              alt="Example image for this dataset"
            />
            <figcaption class="vf-figure__caption">
              Example image for this dataset
            </figcaption>
          </figure>

          <figure class="vf-figure" style="width: 48%">
            <img
              class="vf-figure__image"
              src={annotationExampleImageURI}
              alt="Example annotation for this dataset"
            />
            <figcaption class="vf-figure__caption">
              Example annotation for this dataset
            </figcaption>
          </figure>
        </div>
        <div slot="ftp-link">
      <StudyFiles accessionID={accessionID}/>
    </div>
  </StudyContentsSummary>
  <hr/>
  <StudyComponents title="Curated Study Information", id="study" content={studyContent} />
  {modelInformation === undefined ? <br /> :  <StudyComponents title="Models Related To This Work" id="models" content={modelContent} />}
  <StudyComponents title="Annotated Datasets" id ="annotated_datasets" content={annotatedDatasetContent}/>
  <AnnotatedImageTable
    study={study}
    sourceImages={allSourceImages}
    annotatedImagesMap={annotatedImagesMap}
    sourceDataset={sourceDataset}
    imagePageRoot="/bioimage-archive/galleries/ai/image/"
    sectionId="all_images"
  />
</BaseLayoutWithBreadcrumbs>
