---
import field_map from "../data/metadata-field-name-mapping.json";
import DatasetDetail from "./DatasetDetail.astro";

const { dataset } = Astro.props;
const biosample_map = field_map["biosample"];
const sipp_map = field_map["specimen_imaging_preparation_protocol"];
const sgp_map = field_map["specimen_growth_protocol"];
const image_acquisition_map = field_map["image_acquisition"];
const analysis_method_map = field_map["analysis_method"];
const annotation_method_map = field_map["annotation_method"];
const correlation_method_map = field_map["correlation_method"];
---

<div style="margin-bottom: 1rem;">
    <div>
        <b style="font-size: 14pt;">{dataset.title_id}</b>
    </div>
    <ul>
        <div>
            <b>Description:</b>&nbsp;{dataset.description}
        </div>
        {
            "biological_entity" in dataset &&
                dataset.biological_entity.length > 0 && (
                    <b>Biosamples:</b>
                    <ul>
                        {dataset.biological_entity.map((biosample) => (
                            <DatasetDetail
                                data={biosample}
                                field_map={biosample_map}
                            />
                        ))}
                    </ul>
                )
        }
        {
            "specimen_imaging_preparation_protocol" in dataset &&
                dataset.specimen_imaging_preparation_protocol.length > 0 && (
                    <b>Specimen Preparation Protocols:</b>
                    <ul>
                        {dataset.specimen_imaging_preparation_protocol.map(
                            (sipp) => (
                                <DatasetDetail
                                    data={sipp}
                                    field_map={sipp_map}
                                />
                            ),
                        )}
                    </ul>
                )
        }
        {
            "acquisition_process" in dataset &&
                dataset.acquisition_process.length > 0 && (
                    <b>Image Acquisition Processes:</b>
                    <ul>
                        {dataset.acquisition_process.map(
                            (image_acquisition) => (
                                <DatasetDetail
                                    data={image_acquisition}
                                    field_map={image_acquisition_map}
                                />
                            ),
                        )}
                    </ul>
                )
        }
        {
            "other_creation_process" in dataset &&
                dataset.other_creation_process.length > 0 && (
                    <b>Creation Protocols:</b>
                    <ul>
                        {dataset.other_creation_process.map(
                            (sgp) => (
                                <DatasetDetail
                                    data={sgp}
                                    field_map={sgp_map}
                                />
                            ),
                        )}
                    </ul>
                )
        }
        {
            "analysis_method" in dataset && dataset.analysis_method.length > 0 && (
                <b>Image Analysis Methods:</b>
                <ul>
                    {dataset.acquisition_process.map((analysis_method) => (
                        <DatasetDetail
                            data={analysis_method}
                            field_map={analysis_method_map}
                        />
                    ))}
                </ul>
            )
        }
        {
            "correlation_method" in dataset && dataset.correlation_method.length > 0 && (
                <b>Correlation Methods:</b>
                <ul>
                    {dataset.correlation_method.map((correlation_method) => (
                        <DatasetDetail
                            data={correlation_method}
                            field_map={correlation_method_map}
                        />
                    ))}
                </ul>
            )
        }
        {
            "annotation_process" in dataset && dataset.annotation_process.length > 0 && (
                <b>Annotation Methods:</b>
                <ul>
                    {dataset.annotation_process.map((annotation_method) => (
                        <DatasetDetail
                            data={annotation_method}
                            field_map={annotation_method_map}
                        />
                    ))}
                </ul>
            )
        }
    </ul>
</div>
