---
import BaseLayout from "../layouts/BaseLayoutWithBreadcrumbs.astro";
import GalleryCard from "./cards/GalleryRoundImageCard.astro";

const { galleryData } = Astro.props;

---


<BaseLayout pageTitle={galleryData.name}>
    <body>
        <section
            class="vf-news-container vf-news-container--featured | vf-stack "
        >
            <div class="vf-section-header">
                <h2 class="vf-section-header__heading">
                    <br />
                    {galleryData.title}
                </h2>
            </div>

            {
                galleryData.subtitle && (
                    <div>
                        <h3 class="vf-section-subheader__heading">
                            {galleryData.subtitle}
                        </h3>
                    </div>
                )
            }

            {
                galleryData.body_text && (
                    <div class=" vf-grid | vf-grid__col-3 |">
                        <p class="vf-grid__col--span-2 | vf-content">
                            {galleryData.body_text}
                        </p>
                    </div>
                )
            }

            <div class="vf-news-container__content | vf-grid | vf-grid__col-4 |">
                {
                    Object.values(galleryData.collections).map((collection) => (
                        <GalleryCard collection={collection} linkPath={galleryData.gallery_item_basepath} />
                    ))
                }
            </div>
        </section>
    </body>
</BaseLayout>