---
import "/src/styles/active_left_menu.css"

const pageData = {
  "faq": "FAQ",      
  "search": "Searching Data",
  "downloading-data":"Downloading Data",
  "supporting-tools": "Supporting Tools",
  "galleries-contribute": "Contribute to Galleries"
}
const submissionHelp = {
  "file-list": "File List Guide",
  "submit-annotations": "Submit Annotations",
  "ai-glossary": "Annotation Types",
  "linking-archives": "Linking to Other Archives"
}
const metadataHelp = {
  "rembi-overview": "REMBI Overview",
  "rembi-lab-guide": "REMBI Lab Guide",
  "rembi-examples": "REMBI Examples",
  "rembi-model-reference": "REMBI Model Reference",
  "mifa-overview": "MIFA Overview",
  "mifa-model-reference": "MIFA Model Reference"
}

// Method to make sure dev and prod behave the same whilst having Astro config trailingslash set to ignore by default
function addTrailingSlash(pathname: String) {
    pathname += pathname.endsWith("/") ? "" : "/";
    return pathname
}

const pathName = addTrailingSlash(Astro.url.pathname)
const pageName = pathName.split('/').at(-2);
---
<ul class="vf-list vf-list--l">
  <li class={pageName === "help" ? "vf-list__item | active" : "vf-list__item"}>
    <a href={`/bioimage-archive/help`} class="vf-navigation__link">Help Overview</a>
  </li>
  <li class={pageName === "about-the-new-website" ? "vf-list__item | active" : "vf-list__item"}>
    <a href=`/bioimage-archive/help/about-the-new-website` class="vf-navigation__link">About the new website</a>
  </li>
</ul>
<details class="vf-details" open={pageName in submissionHelp ? true : false}>
  <summary class="vf-details--summary">Submission Help</summary>
  <ul class="vf-list vf-list--l">
    {Object.entries(submissionHelp).map(([key, value]) => (
      <li class={pageName === key ? "vf-list__item | active" : "vf-list__item"}>
          <a href={`/bioimage-archive/help/${key}`} class="vf-navigation__link">{value}</a>
      </li>
      )
    )}
  </ul> 
</details>   
  <details class="vf-details" open={pageName in metadataHelp ? true : false}>
    <summary class="vf-details--summary">Metadata Help</summary>
  <ul class="vf-list vf-list--l">
    {Object.entries(metadataHelp).map(([key, value]) => (
      <li class={pageName === key ? "vf-list__item | active" : "vf-list__item"}>
          <a href={`/bioimage-archive/help/${key}`} class="vf-navigation__link">{value}</a>
      </li>
      )
    )}
  </ul> 
</details>  
    <ul class="vf-list vf-list--l">
      {Object.entries(pageData).map(([key, value]) => (
        <li class={pageName === key ? "vf-list__item | active" : "vf-list__item"}>
            <a href={`/bioimage-archive/help/${key}`} class="vf-navigation__link">{value}</a>
        </li>
        )
      )}
    </ul>
<!-- </nav> -->
