---
import { getImageFromAPI, getThumbnail, formatBytesToHumanSize } from "./SharedJSFunctions";

const { image, datasetTitle, imagePageRoot } = Astro.props;

function getDownloadSize(imageMetadata) {
  const submitter_data = imageMetadata?.representation.find((rep)=>rep.total_size_in_bytes > 0)?.total_size_in_bytes ?? "Unkown"
  return submitter_data
}

const imageMetadata = await getImageFromAPI(image.uuid);

---
<tr>
  <td>
    <a href={imagePageRoot ? `/bioimage-archive/${imagePageRoot}/${image.uuid}` : `/bioimage-archive/image/${image.uuid}`}><img class="vf-figure__image" src={getThumbnail(image)}/></a>
  </td>
  <td>{image.uuid}</td>
  <td>{datasetTitle}</td>
  <td>{formatBytesToHumanSize(getDownloadSize(imageMetadata))}</td>
  <td>
    <a href={imagePageRoot ? `/bioimage-archive/${imagePageRoot}/${image.uuid}` : `/bioimage-archive/image/${image.uuid}`}>View</a>
  </td>
</tr>