---
import { getThumbnail, formatBytesToHumanSize, getSimpleAttributeValue } from "./SharedJSFunctions";

const { image, datasetTitle, imagePageRoot } = Astro.props;

function getDownloadSize(image) {
  const file_size = image?.total_size_in_bytes > 0? image.total_size_in_bytes : "Unkown"
  return file_size
}

function insertBreaks(str, every = 40) {
  if (!str) return "";
  return str.match(new RegExp(`.{1,${every}}`, "g")) ?? [];
}

const image_size = formatBytesToHumanSize(getDownloadSize(image))
const file_path = image?.label || image?.file_path ;
---
<tr>
  <td>
    <a href={imagePageRoot ? `/bioimage-archive/${imagePageRoot}/${image.uuid}` : `/bioimage-archive/image/${image.uuid}`}><img class="vf-figure__image" src={getThumbnail(image)}/></a>
  </td>
  <td>{image.uuid}</td>
  <td class="file-path">{insertBreaks(file_path, 36).map(chunk => (<>{chunk}<wbr /></>))}</td>
  <td>{datasetTitle}</td>
  <td>{image_size}</td>
  <td>
    <a href={imagePageRoot ? `/bioimage-archive/${imagePageRoot}/${image.uuid}` : `/bioimage-archive/image/${image.uuid}`}>View</a>
  </td>
</tr>