---
import imageMetadata from "../data/bia-image-metadata.json";
import imageFallback from "../assets/bioimage-archive/image_fallback.png"

const { image, datasetTitle, imagePageRoot } = Astro.props;

function getThumbnail(uuid, imageMetadata) {
    if (uuid in imageMetadata) {
        const thumbnail = imageMetadata[uuid].representation.find((rep)=>rep.use_type == "THUMBNAIL")
        if (thumbnail != undefined) {
            return thumbnail.file_uri[0]
        }
    }
    return imageFallback.src
}

function getDownloadSize(uuid, imageMetadata) {
    if (uuid in imageMetadata) {
        const submitter_data = imageMetadata[uuid].representation.find((rep)=>rep.use_type == "UPLOADED_BY_SUBMITTER")
        if (submitter_data != undefined) {
            return submitter_data.total_size_in_bytes
        }
    }
    return "Unknown"
}

---
<tr>
  <td>
    <a href={imagePageRoot ? `/bioimage-archive/${imagePageRoot}/${image.uuid}` : `/bioimage-archive/image/${image.uuid}`}><img class="vf-figure__image" src={getThumbnail(image.uuid, imageMetadata)}/></a>
  </td>
  <td>{image.uuid}</td>
  <td>{datasetTitle}</td>
  <td>{getDownloadSize(image.uuid, imageMetadata)}</td>
  <td>
    <a href={imagePageRoot ? `/bioimage-archive/${imagePageRoot}/${image.uuid}` : `/bioimage-archive/image/${image.uuid}`}>View</a>
  </td>
</tr>