---
import BaseLayout from '../../../../layouts/BaseLayout.astro';
import WebsiteStateButton from '../../../../components/WebsiteStateButton.astro';

import exports from "../../../../data/old-export-format/bia-spatialomics-export.json";

import studyImage from '../../../../assets/bioimage-archive/study.png';
import biosampleImage from '../../../../assets/bioimage-archive/biosample.png';
import imacqImage from '../../../../assets/bioimage-archive/im_acquisition.png';
import specimenImage from '../../../../assets/bioimage-archive/specimen.png';
import cellImage from '../../../../assets/bioimage-archive/cells_icon.png';
import dnaImage from '../../../../assets/bioimage-archive/dna_icon.png';
import codeImage from '../../../../assets/bioimage-archive/code_icon.png';


export function getStaticPaths() {
  return Object.values(exports["datasets"]).map((dataset) => {
    return {
      params:  {accessionID: dataset.accession_id }
    };
  });
}

const { accessionID } = Astro.params;
const study = exports["datasets"][accessionID];

const images = study.image_uuids.map((uuid) => exports["images"][uuid]);
---
<BaseLayout pageTitle= {study.accession_id} >
  <body class="vf-body">
    <section class="vf-intro | embl-grid embl-grid--has-centered-content">
        <div></div>
        <div>
            <h1 class="vf-intro__heading vf-intro__heading--has-tag">{ study.accession_id }
              <WebsiteStateButton/>
            </h1>
            <h2 class="vf-intro__subheading">{ study.title }</h2>
            Released { study.release_date }<br>
            <!-- {{ authors }} -->
        </div>
        <div></div>
    </section>
    <section  class="vf-content | vf-sidebar vf-sidebar--start">
      <div class="vf-sidebar__inner">
        <div>
          <h2 class="vf-section-header__heading"> On this page</h2>
          <ul class="vf-list">
            <li class="vf-list__item">
            <a class="vf-list__link" href="#study">
              Study Information
            </a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="#spatial_omics">
              Spatial-omics data
            </a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="#code">
              Analysis Code
            </a>
            </li>
            <li class="vf-list__item">
              <a class="vf-list__link" href="#viewable_images">
                Viewable Images
              </a>
            </li>
          </ul>
        </div>
        <div>                                   
            <figure class="vf-figure vf-figure--align vf-figure--align-centered">
                <img class="vf-figure__image" src={ study.example_image_uri }>
            </figure>  
            { study.description }
        </div>
      </div>
    </div>
        </section>
      <section class="vf-content">
        <div class="vf-grid vf-grid__col-4">
        <div> Images<br/> {study.n_images}</div>
        <div> Other Data <br> None </div>
        <div> Study Size <br> None </div>
        <div> File Types <br> None </div>
    </div>
    </section>
    <div style="width: 1238px; height: 22px; padding-top: 16px; padding-bottom: 1px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
      <div style="align-self: stretch; height: 0px; border: 1px #D0D0CE solid"></div>
    </div>
    <section  class="embl-grid embl-grid--has-centered-content">
        <div>
        <h2 class="vf-section-header__heading" id="study">Study Information</h2>
        <p>Complete metadata</p>
        <h3>Study</h3>
        <img src={studyImage.src} alt="Study" style="width: 60px">
      </div>
      <div>
        <br><br>
        <a href={study.links[0]["url"]}>
          <button class="vf-button vf-button--primary vf-button--sm">Original submission page</button>
        </a>
        <p><b>Licence:</b> CC0</p>
        { ( study.models_description != null ) && <p><b>Models: </b> { study.models_description }</p> }
      </div>
      <div></div>
    </section>
    <section class="embl-grid embl-grid--has-centered-content">
        <div>
        <h3>Biosample</h3>
          <img src={biosampleImage.src} alt="Biosample" style="width: 60px">
      </div>
      <div>
        <br>                  
          <b>Organism: </b> { study.organism }
      </div>
      <div></div>
  </section>
  <section class="embl-grid embl-grid--has-centered-content">
    <div>
      <h3>Image Acquisition </h3>
      <img src={imacqImage.src} alt="Imaging" style="width: 60px">
    </div>
  <div>
    <br>
    <b>Imaging method: </b> { study.imaging_type } 
  </div>
  </section>
  
  <hr/>

  <section class="embl-grid embl-grid embl-grid--has-centered-content">
    <div class="vf-section-header" id="spatial_omics">
      <h3 class="vf-section-header__heading" title="Cell segmentation, RNA spots and Omics data"> Spatial-omics data </h3>
    </div>
    <div>
    </div>
    <div></div>
  </section>
  { ( study.cell_seg_descr != null ) && 
  <section class="embl-grid embl-grid--has-centered-content">
        <div class="vf-section-header">
        <h3>Cell segmentation and labels</h3>
          <img src={cellImage.src} alt="Cell segmentation" style="width: 60px">
      </div>
      <div>                  
          <p><b>Description: </b> { study.cell_seg_descr }
          </p>
          <p><b>Link:</b> <a href={ study.cell_seg_link }> {study.cell_seg_link} </a></p>
      </div>
    <div></div>
  </section>
}
{ ( study.scseq_desc != null ) && 
  <section class="embl-grid embl-grid--has-centered-content">
        <div class="vf-section-header">
        <h3>single-cell sequencing</h3>
          <img src={dnaImage.src} alt="single-cell sequencing" style="width: 60px">
      </div>
      <div>                  
          <p><b>Description: </b> { study.scseq_desc }
          </p>
          <p><b>Link:</b> <a href={ study.scseq_link }> {study.scseq_link} </a></p>
      </div>
    <div></div>
  </section>
}
  
  <hr/>
   
  <section class="embl-grid embl-grid--has-centered-content">
        <div class="vf-section-header" id="code">
        <h3 class="vf-section-header__heading">Analysis code</h3>
        <br>
          <img src={codeImage.src} alt="Analysis code" style="width: 60px">
      </div>
      <div>                  
          <p><b>Description: </b> { study.code_desc }
          </p>
          <p><b>Link:</b> <a href={ study.code_link }> {study.code_link} </a> </p>
      </div>
    <div></div>
  </section>

<hr/>

  <section class="vf-intro | embl-grid embl-grid--has-centered-content | section-spacing">

<div class="vf-section-header">
  <h2 class="vf-section-header__heading" id="viewable_images">
    Viewable Images
  </h2>
</div>
<div>
  <table id="viewable_images_table" class="display">
    <thead>
      <tr>
        <th>Preview</th>
        <th>Filename</th>
        <th>Download Size</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {
        images.map((image) => (
          <tr>
            <th>
              <a href={"/bioimage-archive/galleries/image/" + image.uuid}><img class="vf-figure__image" src={image.thumbnail_uri}/></a> 
            </th>
            <th>{image.name}</th>
            <th>Unknown</th>
            <th>
              <a href={"/bioimage-archive/galleries/image/" + image.uuid}>View</a>
            </th>
          </tr>
        ))
      }
    </tbody>
  </table>
</div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    $("#viewable_images_table").DataTable({
      scrollX: true,
      columnDefs: [{ type: "natural", targets: 0 }],
    });
  });
</script>
</body>


  </body>
</BaseLayout>
