---
import BaseLayoutWithBreadcrumbs from "../../layouts/BaseLayoutWithBreadcrumbs.astro";
import StudyTitleInfo from "../../components/study-page/StudyTitleInfo.astro";
import StudyContentsSummary from "../../components/study-page/StudyContentsSummary.astro";
import DatasetInfo from "../../components/DatasetInfo.astro";
import ViewableImageTable from "../../components/ViewableImageTable.astro";
import DatasetFilesTable from "../../components/DatasetFilesTable.astro";

import studyMetadata from "../../data/bia-study-metadata.json";

import {formatListItem, multilineTextRender, formatBytesToHumanSize, getStudyImage, getDatasetStatsByUUID} from "../../components/SharedJSFunctions.js"

export function getStaticPaths() {
  return Object.values(studyMetadata).map((study) => {
    return {
      params: { accessionID: study.accession_id },
    };
  });
}

const tableOfContents = {
  "Study Information": "study",
  "Viewable Images": "viewable_images",
  "Dataset files": "file_references",
};

const { accessionID } = Astro.params;
const study = accessionID in studyMetadata ? studyMetadata[accessionID] : undefined;

const images = study.dataset.flatMap(dataset => dataset.image ?? [])

function getFileTypes(study) {
    const fileTypeList = []
    for (var dataset of study.dataset) {
        for (const file_type of dataset.file_type_aggregation) {
            if (!fileTypeList.includes(file_type)) {
              fileTypeList.push(file_type)
            }
        }
    }
    return fileTypeList
}

const datasetUUIDsAndFileStats = getDatasetStatsByUUID(study)

const headlineStats = {
  "Total Viewable Images":  study.dataset.reduce((accumulator, dataset) => accumulator + dataset.image_count, 0),
  "Total files": study.dataset.reduce((accumulator, dataset) => accumulator + dataset.file_reference_count, 0),
  "Total size of files": formatBytesToHumanSize(study.dataset.reduce((accumulator, dataset) => accumulator + dataset.file_reference_size_bytes, 0)),
};


const breadcrumbs = [
  "/bioimage-archive",
  "/bioimage-archive/studies",
]

---

<BaseLayoutWithBreadcrumbs pageTitle={study.accession_id} breadcrumbs={breadcrumbs}>
  <body>
    <StudyTitleInfo study_info={study}/>

  <StudyContentsSummary 
    tableOfContents={tableOfContents} 
    originalStudyLink={`https://www.ebi.ac.uk/biostudies/BioImages/studies/${study.accession_id}`} 
    headlineStats={headlineStats}
  >
    <div slot="hero-image">
      <figure class="vf-figure vf-figure--align vf-figure--align-centered">
        <img class="vf-figure__image" src={getStudyImage(study)} />
      </figure>
    </div>
  </StudyContentsSummary>

  <hr/>

  <section id="study" class="vf-content | embl-grid embl-grid--has-centered-content">
    <div>
      <h2 class="vf-section-header__heading">Study Information</h2>
    </div>

    <div style="overflow-wrap: anywhere;">
      <div><b>Description: </b> <Fragment set:html={multilineTextRender(study.description)}></Fragment></div>
      <div><b>Licence: </b> <a href={study.licence}>{study.licence}</a><div>
    </div>
  </section>

  <hr/>

  <section id="study_components" class="vf-content | embl-grid embl-grid--has-centered-content">
    <div>
      <h2 class="vf-section-header__heading">Study Components</h2>
    </div>
    <div>
      {
        study.dataset.map((dataset) => (
          <DatasetInfo dataset={dataset} />
        ))
      }
    </div>
  </section>

  <hr/>

  <ViewableImageTable study={study} images={images}/>

  <hr/>

  <DatasetFilesTable datasetUUIDsAndFileStats={datasetUUIDsAndFileStats}/>

</BaseLayout>
