---
import BaseLayout from '../../../../layouts/BaseLayout.astro';
import StudyTitleInfo from "../../../../components/study-page/StudyTitleInfo.astro";
import studyImage from "../../../../assets/bioimage-archive/study.png";
import biosampleImage from "../../../../assets/bioimage-archive/biosample.png";
import imacqImage from "../../../../assets/bioimage-archive/im_acquisition.png";
import {getStudyFromAPI, getStudyImage} from "../../../../components/SharedJSFunctions"
import type { Study } from '../../../../components/SharedInterface.astro';


export function getStaticPaths() {
  const accessionIDs = [
  "S-BSST223", "S-BSST429", "S-BIAD144", "S-BIAD217", "S-BIAD368", "S-BIAD425", 
  "S-BIAD570", "S-BIAD582", "S-BIAD606", "S-BIAD608", "S-BIAD620", "S-BIAD661", 
  "S-BIAD626", "S-BIAD627", "S-BIAD725", "S-BIAD746", "S-BIAD826", "S-BIAD886", 
  "S-BIAD901", "S-BIAD915", "S-BIAD916", "S-BIAD922", "S-BIAD928", "S-BIAD952", 
  "S-BIAD954", "S-BIAD961", "S-BIAD963", "S-BIAD968", "S-BIAD976", "S-BIAD978", 
  "S-BIAD987", "S-BIAD988", "S-BIAD993", "S-BIAD999", "S-BIAD1008"
]
  return Object.values(accessionIDs).map((accession) => {
    return {
      params:  {accessionID: accession }
    };
  });
}

const { accessionID } = Astro.params;
const study = await getStudyFromAPI("accession",accessionID);
const images = study?.dataset?.flatMap(ds => ds.image) || [];
const numberOfImages = images.length;
---
<BaseLayout pageTitle= {study?.accession_id || ""} >
  <body>
  <section class="vf-intro | embl-grid embl-grid--has-centered-content">
    {study && (<StudyTitleInfo study_info={study}/>)}
  </section>

  <section  class="vf-content | embl-grid embl-grid--has-centered-content">
      <div>
        <h2 class="vf-section-header__heading">Content</h2>
        <ul class="vf-list">
          <li>{numberOfImages} images</li>
        </ul>
      </div>
      <div>                  
          <figure class="vf-figure vf-figure--align vf-figure--align-centered">
              <img class="vf-figure__image" src="">
          </figure>  
          { study?.description || ""}
      </div>
      <div>
        <a href={`https://www.ebi.ac.uk/biostudies/BioImages/studies/${study?.accession_id || ""}`}>
          <button class="vf-button vf-button--primary vf-button--sm">Original study</button>
        </a>
      </div>
  </section>

  <section class="embl-grid embl-grid--has-centered-content">
    <div>
      <h2 class="vf-section-header__heading" id="study">Study Information</h2>
      <p>Complete metadata</p>
      <h3>Study</h3>
      <img src={studyImage.src} alt="Study" style="width: 60px" />
    </div>
    <div>
      <br />
      <br />
      <a href={`https://www.ebi.ac.uk/biostudies/BioImages/studies/${study?.accession_id || ""}`}>
        <button class="vf-button vf-button--primary vf-button--sm"
          >Original submission page</button
        >
      </a>
      <p><b>Licence:</b> CC0</p>
      {
        study?.models_description != null && (
          <p>
            <b>Models: </b> {study?.models_description}
          </p>
        )
      }
    </div>
    <div></div>
  </section>

  <section class="embl-grid embl-grid--has-centered-content">
    <div>
      <h3>Biosample</h3>
      <img src={biosampleImage.src} alt="Biosample" style="width: 60px" />
    </div>
    <div>
      <br />
      <b>Organism: </b>
      {study?.organism}
    </div>
    <div></div>
  </section>

  <section class="embl-grid embl-grid--has-centered-content">
    <div>
      <h3>Image Acquisition</h3>
      <img src={imacqImage.src} alt="Imaging" style="width: 60px" />
    </div>
    <div>
      <br />
      <b>Imaging method: </b>
      {study?.imaging_type}
    </div>
    <div></div>
  </section>
    
  <hr/>
  

  <section class="vf-intro | embl-grid embl-grid--has-centered-content | section-spacing">

    <div class="vf-section-header">
      <h2 class="vf-section-header__heading" id="viewable_images">
        Viewable Images
      </h2>
    </div>
    <div>
      <table id="viewable_images_table" class="display">
        <thead>
          <tr>
            <th>Preview</th>
            <th>Filename</th>
            <th>Download Size</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {
            images.map((image) => (
              <tr>
                <th>
                  <img class="vf-figure__image" src={image.thumbnail_uri}/>
                </th>
                <th>{image.name}</th>
                <th>Unknown</th>
                <th>
                  <a href={"/bioimage-archive/galleries/image/" + image.uuid}>View</a>
                  Download
                </th>
              </tr>
            ))
          }
        </tbody>
      </table>
    </div>
  </section>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        $("#viewable_images_table").DataTable({
          scrollX: true,
          columnDefs: [{ type: "natural", targets: 0 }],
        });
      });
    </script>
  </body>
</BaseLayout>