---
import BaseLayout from "../../layouts/BaseLayout.astro";
import StudyMetadata from "../../data/bia-study-metadata.json";
import DefaultDataSetMetatadata from "../../data/bia-test-study-metadata.json";
import StudyTitleInfo from "../../components/StudyTitleInfo.astro";
import DatasetInfo from "../../components/DatasetInfo.astro";
import default_img from "../../assets/bioimage-archive/default_hero/default_hero_1.png"

export function getStaticPaths() {
  return Object.values(StudyMetadata).map((dataset) => {
    return {
      params: { accession_id: dataset.accession_id },
    };
  });
}

const table_of_contents = {
  "Study Information": "study",
  "Viewable Images": "viewable_images",
  "All Images": "all_images",
};

const { accession_id } = Astro.params;
const study_info =
accession_id in StudyMetadata
    ? StudyMetadata[accession_id]
    : DefaultDataSetMetatadata;

var images = new Array()
for (var dataset of study_info.experimental_imaging_component) {
  for (var image of dataset.image) {
    images.push(image)
  }
}

---

<BaseLayout pageTitle={study_info.accession_id}>
  <body>
    <section class="vf-content | embl-grid embl-grid--has-centered-content">
      <StudyTitleInfo study_info={study_info} />
    </section>

    <section class="vf-content | embl-grid embl-grid--has-centered-content">
      <div>
        <div>
          <h2 class="vf-section-header__heading">On this page</h2>
          <ul class="vf-list">
            {
              Object.entries(table_of_contents).map(([text_title, id]) => (
                <li class="vf-list__item">
                  <a class="vf-list__link" href={"#" + id}>
                    {text_title}
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
      </div>

      <div>
        <figure class="vf-figure vf-figure--align vf-figure--align-centered">
          <img class="vf-figure__image" src={default_img.src} />
        </figure>
      </div>

      <div>
        <a href={"https://www.ebi.ac.uk/biostudies/BioImages/studies/"+study_info.accession_id}>
          <button class="vf-button vf-button--primary vf-button--sm"
            >Original study</button
          >
        </a>
      </div>
    </section>

    <hr/>

    <section id="study" class="vf-content | embl-grid embl-grid--has-centered-content">
      <div>
        <h2 class="vf-section-header__heading">Study Information</h2>
      </div>

      <div>
        <div><b>Description: </b>{study_info.description}</div>
        <div><b>Licence: </b> {study_info.licence}<div>
      </div>
    </section>

    <hr/>

    <section id="study_components" class="vf-content | embl-grid embl-grid--has-centered-content">
      <div>
        <h2 class="vf-section-header__heading">Study Components</h2>
      </div>
      <div>
        {
          study_info.experimental_imaging_component.map((eic_data) => (
            <DatasetInfo eic={eic_data} />
          ))
        }
      </div>
    </section>

    <hr/>

    <section class="vf-intro | embl-grid embl-grid--has-centered-content | section-spacing">

    <div class="vf-section-header">
      <h2 class="vf-section-header__heading" id="viewable_images">
        Viewable Images
      </h2>
    </div>
    <div>
      <table id="viewable_images_table" class="display">
        <thead>
          <tr>
            <th>Preview</th>
            <th>Filename</th>
            <th>Dataset</th>
            <th>Download Size</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {
            images.map((image) => (
              <tr>
                <th>
                  <img class="vf-figure__image" src={image.thumbnail_uri}/>
                </th>
                <th>{image.uuid}</th>
                <th>{study_info.experimental_imaging_component.find((dataset) => dataset.uuid === image.submission_dataset_uuid ).title_id}</th>
                <th>3.0MiB</th>
                <th>
                  <a href={"/bioimage-archive/image/" + image.uuid}>View</a>
                  Download
                </th>
              </tr>
            ))
          }
        </tbody>
      </table>
    </div>
  </section>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        $("#viewable_images_table").DataTable({
          scrollX: true,
          columnDefs: [{ type: "natural", targets: 0 }],
        });
      });
    </script>
  </body>
</BaseLayout>
