---
export const prerender = false;

import BaseLayoutWithBreadcrumbs from '../../layouts/BaseLayoutWithBreadcrumbs.astro';
import DatasetDetail from '../../components/DatasetDetail.astro';
import WebsiteStateButton from '../../components/WebsiteStateButton.astro';
import Specimen from '../../components/image/Specimen.astro';
import ImageTable from '../../components/image/ImageTable.astro';

import fieldMap from "../../data/metadata-field-name-mapping.json";
import fallbackImage from "../../assets/bioimage-archive/image_fallback.png"
import {getSimpleAttributeValue, getImageFromAPI, getImagesFromAPI, getStudyFromApiByUUID, formatPhysicalVoxelDimensions, formatPhysicalDimensions, formatPixelDimensions } from "../../components/SharedJSFunctions.js"
import { type Study } from "../../components/SharedInterface.astro"

const imageAcquisitionMap = fieldMap["image_acquisition"];
const annotationMethodMap = fieldMap["annotation_method"];
const protocolMap = fieldMap["protocol"];

const { uuid } = Astro.params;

const image = await getImageFromAPI(uuid);

const vizarrRepUuid = getSimpleAttributeValue(image, "recommended_vizarr_representation");
const interactiveImageRepresentation = (image.representation.find(
    (rep) => rep.uuid == vizarrRepUuid
) ?? image.representation.find( (rep) => rep.image_format === ".ome.zarr") )

const datasetUUID = image ? image.submission_dataset_uuid : "";
const imageStudy = datasetUUID ? await getStudyFromApiByUUID(datasetUUID) as Study : {};
const imageDataset = imageStudy.dataset.find(ds => ds.uuid === image.submission_dataset_uuid);
const vizarrIFrameSource = interactiveImageRepresentation ? `https://uk1s3.embassy.ebi.ac.uk/bia-zarr-test/vizarr/index.html?source=${interactiveImageRepresentation.file_uri[0]}` : null
const itkRepUuid = getSimpleAttributeValue(image, "recommended_itk_representation");
const itkLink = itkRepUuid ? `https://kitware.github.io/itk-vtk-viewer/app/?fileToLoad=${interactiveImageRepresentation.file_uri[0]}` : null


const pref_ng_image_rep_uuid = getSimpleAttributeValue(image, "preferred_neuroglancer_image_representation_uuid")
const pref_ng_image_rep = image.representation.find((rep) => rep.uuid === pref_ng_image_rep_uuid)
const ng_link = pref_ng_image_rep ? getSimpleAttributeValue(pref_ng_image_rep, "neuroglancer_view_link") : null

const creation_process = image?.creation_process || [];

var input_images = [];
if ("input_image_uuid" in creation_process && creation_process.input_image_uuid.length > 0) {
    input_images = await getImagesFromAPI(creation_process.input_image_uuid)
}


let specimen
if ("subject" in creation_process && creation_process.subject != null) {
    specimen = creation_process.subject
}
let inherited_specimens
if (specimen == null && input_images.length > 0) {
    inherited_specimens = await recursivelyGetSpecimenInfo(input_images, new Map())
}

async function recursivelyGetSpecimenInfo(image_list, collected) {
  for (const image of image_list) {
    const specimen = image?.creation_process?.subject || null;

    if (specimen != null) {
      collected.set(specimen.uuid, specimen);
      continue;
    }
    const next_image_uuids = image?.creation_process?.input_image_uuid || [];

    if (collected.size == 0 && next_image_uuids.length > 0) {
      const next_images = await getImagesFromAPI(next_image_uuids);
      await recursivelyGetSpecimenInfo(next_images, collected);
    }
  }
  const specimens = Array.from(collected.values());
  return specimens
}


const thumbnail_uri = getSimpleAttributeValue(image, "thumbnail_uri")?.[0];
const displayImageHTML = vizarrIFrameSource ? `<iframe style="width: 100%; height: 500px" name="vizarr" src="${vizarrIFrameSource}"></iframe>` :
    thumbnail_uri ? `<img style="width: 100%; height: 500px" src="${thumbnail_uri}" />` :
    `<img style="height: 500px;" src="${fallbackImage.src}" />`

const userProvidedAttribute = image.additional_metadata?.find(attribute => attribute.name.includes("attributes_from_file_reference_"))?.value.attributes


const breadcrumbs = [
  "/bioimage-archive",
  "/bioimage-archive/studies",
  `/bioimage-archive/study/${imageStudy.accession_id}`
]

---

<BaseLayoutWithBreadcrumbs pageTitle={image.uuid} breadcrumbs={breadcrumbs}>
  <body>
    <div class="vf-stack vf-stack--500">
        <section class="vf-content | embl-grid embl-grid--has-centered-content">
            <div></div>
            <div>
                <h1 class="vf-intro__heading vf-intro__heading--has-tag">
                    { imageStudy.accession_id }
                    <WebsiteStateButton/>
                </h1>
                <h2 class="vf-intro__subheading">{imageStudy.title}</h2>
                <p class="studytitle">{imageDataset.title}</p>
                <a href={ "/bioimage-archive/study/" + imageStudy.accession_id}>
                    <button class="vf-button vf-button--primary vf-button--sm">Study Page</button>
                </a> 
            </div>
        </section>
        <section class="vf-content | embl-grid embl-grid--has-centered-content">
            <div style="word-wrap: break-word;">
                {
                    interactiveImageRepresentation && (
                        <span>
                            <h3>Image metadata</h3>
                            <b>Physical image size: </b> {formatPhysicalDimensions(image) ?? "Not provided" }<br />
                            <b>Physical voxel size: </b> {formatPhysicalVoxelDimensions(interactiveImageRepresentation) ?? "Not provided" }<br />
                            <b>Pixel image size: </b> {formatPixelDimensions(interactiveImageRepresentation)}<br />
                            {interactiveImageRepresentation.size_c && (<div><b>Number of channels:</b> {interactiveImageRepresentation.size_c}</div>)}
                            {interactiveImageRepresentation.size_t && (<div><b>Number of timesteps:</b> {interactiveImageRepresentation.size_t}</div>)}
                            {userProvidedAttribute && ( 
                                <div>
                                    <br/>
                                    <h4>Additional user metadata</h4>
                                    {Object.entries(userProvidedAttribute).map(([key, value]) => (<div><b>{key}:</b> {value}</div>)) }
                                </div> 
                            )} 
                        </span>
                    )
                }

            </div>
            <div set:html={displayImageHTML} style="display: flex; justify-content: center;"></div>

            <div>
                <h3>Access images</h3>
                License: <a href={imageStudy.licence}>{imageStudy.licence}</a> <br/>
                <br/>
                <a href={"/bioimage-archive/help/downloading-data#aws_client_download"}>How to download this image</a><br/>
                <br/>
                {
                    interactiveImageRepresentation && (
                        <button class="vf-button vf-button--primary vf-button--sm" id="CopyURLButton" data-url={interactiveImageRepresentation.file_uri[0]}>Copy OME-Zarr URI</button>
                    )
                }
                {
                    ( vizarrIFrameSource || itkLink || ng_link ) && (
                        <h3>Visualise</h3>
                    )
                }
                {
                    vizarrIFrameSource && (
                        <a href={vizarrIFrameSource}>
                            <button class="vf-button vf-button--primary vf-button--sm">Open in Vizarr viewer</button>
                        </a>
                    )
                }
                {
                    itkLink && (
                        <a href={itkLink}>
                            <button class="vf-button vf-button--primary vf-button--sm">Open in ITK viewer</button>
                        </a>
                    )
                }
                {
                    ng_link && (
                        <a href={ng_link}>
                            <button class="vf-button vf-button--primary vf-button--sm">Open in neuroglancer</button>
                        </a>
                    )
                }
                <script>

                    let copyUrlButton = document.getElementById("CopyURLButton")
                    let originalText = copyUrlButton.innerText;
                    copyUrlButton.onclick=async() => {
                        await copyUrl(copyUrlButton.dataset.url, copyUrlButton, originalText);
                    };

                    async function copyUrl(url, button, originalText) {
                        await navigator.clipboard.writeText(url);
                        button.innerText = "URI Copied";
                        setTimeout(() => {
                            button.innerText = originalText;
                        }, 700);
                    }

                </script>
            </div>
        </section>

        <hr/>

        <section class="vf-content | embl-grid embl-grid--has-centered-content">
            <div class="vf-section-header">
                <h2 class="vf-section-header__heading" >Study</h2>
            </div>
            <div style="overflow-wrap: anywhere;">
                <b>Title</b>: {imageStudy.title}<br/>
                <b>Description:</b> {imageStudy.description} <br/>
                <b>Licence:</b> <a href={imageStudy.licence}>{imageStudy.licence}</a> <br/>
            </div>
        </section>

        <hr/>

        <section class="vf-content | embl-grid embl-grid--has-centered-content">
            <div class="vf-section-header">
                <h2 class="vf-section-header__heading" >Dataset</h2>
            </div>
            <div>
                <b>Title</b>: {imageDataset.title}<br/>
                <b>Description:</b> {imageDataset.description}<br/>
            </div> 
        </section>

        <hr/>
        
        <section class="vf-content | embl-grid embl-grid--has-centered-content">
            <div class="vf-section-header">
                <h2 class="vf-section-header__heading" >Subject</h2>
            </div>
            <div>
            {
                specimen != null && (
                    <Specimen specimen={specimen}/>
                )
            }
            {
                specimen == null && inherited_specimens && inherited_specimens.length > 0 && (
                    <b>Source Specimen Information</b>
                    <ul> 
                        {inherited_specimens.map((specimen) => (
                            <Specimen specimen={specimen}/>
                        ))}
                    </ul>
                )
            }
            </div>
        </section>

        <hr/>

        <section class="vf-intro | embl-grid embl-grid--has-centered-content | section-spacing">
            <div class="vf-section-header">
                <h2 class="vf-section-header__heading" >Creation</h2>
            </div>
            <div>
                {
                    "acquisition_process" in creation_process &&
                        creation_process.acquisition_process.length > 0 && (
                            <b>Image Acquisition Protocols:</b>
                            <ul>
                                {creation_process.acquisition_process.map(
                                    (image_acquisition) => (
                                        <DatasetDetail
                                            data={image_acquisition}
                                            fieldMap={imageAcquisitionMap}
                                        />
                                    ),
                                )}
                            </ul>
                        )
                }
                {
                    "annotation_method" in creation_process &&
                        creation_process.annotation_method.length > 0 && (
                            <b>Image Acquisition Protocols:</b>
                            <ul>
                                {creation_process.annotation_method.map(
                                    (annotation_method) => (
                                        <DatasetDetail
                                            data={annotation_method}
                                            fieldMap={annotationMethodMap}
                                        />
                                    ),
                                )}
                            </ul>
                        )
                }
                {
                    "protocol" in creation_process &&
                        creation_process.protocol.length > 0 && (
                            <b>Image Acquisition Protocols:</b>
                            <ul>
                                {creation_process.protocol.map(
                                    (protocol) => (
                                        <DatasetDetail
                                            data={protocol}
                                            fieldMap={protocolMap}
                                        />
                                    ),
                                )}
                            </ul>
                        )
                }
                {
                    input_images.length > 0 && (
                        <div>
                            <b>Input Images:</b>
                        </div>
                        <ImageTable images={input_images}/>
                    )
                }
            </div>
        </section>
    </body>
</BaseLayout>
